.card-text {
    max-height: 100px; /* Adjust this value as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines before truncating */
    -webkit-box-orient: vertical;
  }
<<<<<<< HEAD
  
=======
  .container-fluid.d-flex.flex-column.h-100 {
    height: 100vh; /* Ensure the container takes the full height of the viewport */
}

html, body {
    height: 100%;
}


>>>>>>> 11e5fa5 (Imroved UI)
